<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - QuickQuiz</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 class="text-center">Welcome to QuickQuiz</h1>
    {% extends "message.html" %}
    {% block content %}
    <div class="center-content">
        {% if user %}
            <p class="mr-3">Hello, {{ user['username'] }}!</p>
            <a href="{{ url_for('main.logout') }}" class="btn btn-danger">Logout</a>
        {% else %}
            <a href="{{ url_for('main.login') }}" class="btn btn-primary">Login</a>
            <a href="{{ url_for('main.register') }}" class="btn btn-secondary">Register</a>
        {% endif %}
    </div>

    <div class="card mb-4 wider-container">
        <div class="card-header">
            <h2>Published Tests</h2>
        </div>
        <div class="card-body">
            {% if published_tests %}
                <ul class="list-group">
                    {% for test in published_tests %}
                        <li class="list-group-item">
                            <strong>{{ test.name }}</strong> - {{ test.time }} minutes
                            <a href="{{ url_for('main.attempt_test', test_id=test.id) }}" class="btn btn-primary btn-sm float-right">Attempt</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No published tests available.</p>
            {% endif %}
        </div>
    </div>

    {% if user %}
    <div class="card mb-4 wider-container">
        <div class="card-header">
            <h2>Your Tests</h2>
        </div>
        <div class="card-body">
            {% if user_tests %}
                <ul class="list-group">
                    {% for test in user_tests %}
                        <li class="list-group-item">
                            <strong>{{ test.name }}</strong>  - {{ test.time }} minutes
                            <div class="float-right">
                                <a href="{{ url_for('main.edit_test', test_id=test.id) }}" class="btn btn-success btn-sm">Edit</a>
                                <a href="{{ url_for('main.home', test_id=test.id) }}" class="btn btn-warning btn-sm">Publish</a>
                                <a href="{{ url_for('main.home', test_id=test.id) }}" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have not created any tests yet.</p>
            {% endif %}
        </div>
        <a href="{{ url_for('main.add_test') }}" class="btn btn-primary mt-3">Add Test</a>
    </div>
    {% endif %}
    {% endblock %}
</body>
</html>
